body {
  font-family: "Roboto", sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  background-color: lightslategray;
  text-align: center;
  text-shadow: 1px 1px lightpink;
}

.settingsWindow {
  font-size: 20px;
}

#gameOne {
  border: 5px solid wheat;
  border-radius: 10px;
  margin: 100px;
  padding: 50px;
}

.main {
  display: inline-block;
  justify-content: center;
  border: 100px;
  margin: 100px;
  /* border: 5px solid wheat; */
}

.gameContainer {
  justify-content: space-around;
  display: flex;
  margin-top: 30px;
}

/* *CIRCLES* */
.playBox {
  height: 100px;
  width: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  flex-shrink: 3;
  /* transition: background-color 0.5s ease; */
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  width: 175px;
  margin: 5px;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
  border-color: #f1ff5c;
  color: lightcyan;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: progress;
}

#red:hover {
  background: #e31918;
  box-shadow: 5px 5px lightpink;
  transform: translateY(-0.2em);
}
#orange:hover {
  background: #ff7b00;
  box-shadow: 5px 5px lightsalmon;
  transform: translateY(-0.2em);
}
#yellow:hover {
  background: #ffea00;
  box-shadow: 5px 5px #ffffb7;
  transform: translateY(-0.2em);
}

/*! TO DO */
#green:hover {
  background: green;
  box-shadow: 2px 2px lightgoldenrodyellow;
}
#turquoise:hover {
  background: #80ffdb;
  box-shadow: 5px 5px #caf0f8;
  transform: translateY(-0.2em);
}

#blue:hover {
  background: #2176ff;
  box-shadow: 5px 5px #48cae4;
  transform: translateY(-0.2em);
}

/*! TO DO */
#purple:hover {
  background: purple;
  box-shadow: 2px 2px lightgoldenrodyellow;
}
