body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
  animation-delay: 1s;
  height: 100vh;
  text-align: center;
  text-shadow: 0.5px 0.5px lightpink;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
  background-size: cover;
  background-position: center;
  animation: rattle 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/*!============MAIN WINDOW============*/
/* .main {
  
} */

/*!============GAME WINDOW============*/
#gameWindowOne {
  padding: 50px;
}

/*!============SETTINGS!============*/
/* .setingsWindow {

} */

hr {
  margin: 20px;
}

/*!============GAME BUTTONS!============*/
.globalCircle,
.circle,
.score {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 1px solid #000000;
  border-radius: 50%;
  opacity: 0.5;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  transition: all .2s ease !important;
}

/*!=========PLAY ME CIRCLE TEXT===========*/
h5 {
  font-size: 20px;
  text-decoration: blanchedalmond;
  position: absolute;
  color: white;
  top: 15%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.middle {
  font-size: 20px;
  text-decoration: blanchedalmond;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.globalCircle:nth-child(1) {
  height: 140px;
  width: 140px;
  background-color: whitesmoke;
}

.back:nth-child(2) {
  transform: rotate(0deg) translateX(105px) translateY(-200px);
  background-color: #232323;
}
.reset:nth-child(3) {
  transform: rotate(0deg) translateX(-105px) translateY(-200px);
  background-color: #232323;
}
.score:nth-child(4) {
  width: 130px;
  transform: rotate(0deg) translateY(-258px);
  background-color: #343434;
  opacity: 0.7;
}
.panic:nth-child(5) {
  transform: rotate(0deg) translateY(215px);
  background-color: #232323;
}

/* GLOBAL CIRCLE */
.globalCircle:hover {
  opacity: 1;
  border: 2px solid black;
  transition: background-color 0.5s ease;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
  box-shadow: 0 0.5em 0.5em -0.4em #faa307;
  cursor: pointer;
}
/*!============GAME TWO!============*/

/* GLOBAL CIRCLE */
.game {
  transition: all .2s ease !important;
}

.game:hover {
  opacity: 1;
  border: 1px solid black;
  box-shadow: 0 0.5em 0.5em -0.4em #faa307;
  cursor: pointer;
}

/*!================BUTTONS!=============!*/
button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  width: 175px;
  margin: 5px;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
  border-radius: 20px;
}
button:hover {
  border-color: #ffa200;
  color: #ff0a54;
  box-shadow: 0 0.5em 0.5em -0.4em #ffb700;
  transform: translateY(-0.25em);
  cursor: pointer;
}
/*!============HEADER ANIMATION============!*/
.slam {
  animation: slam 0.7s;
  animation-timing-function: ease-in;
  color: #c41818;
  display: block;
  font-size: 50px;
  font-weight: 900;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}
@keyframes slam {
  0% {
    transform: scale(10, 10);
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes rattle {
  0% {
    margin-top: 0;
    margin-left: 0;
  }
  10% {
    margin-top: -5px;
    margin-left: 0;
  }
  20% {
    margin-top: 0;
    margin-left: -5px;
  }
  30% {
    margin-top: 5px;
    margin-left: 0;
  }
  40% {
    margin-top: 0;
    margin-left: 5px;
  }
  50% {
    margin-top: -2px;
    margin-left: 0;
  }
  60% {
    margin-top: 0;
    margin-left: -2px;
  }
  70% {
    margin-top: 2px;
    margin-left: 0;
  }
  80% {
    margin-top: 0;
    margin-left: 2px;
  }
  90% {
    margin-top: -1px;
    margin-left: 0;
  }
  100% {
    margin-top: 0;
    margin-left: 0;
  }
}
